* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;

}
.box {
    background-color: aqua;
    width: 31.84%;
    height: 470px;
    text-align: center;
    padding: 10px;
   
    float: left;
}
.box img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.box h2 {
    font-weight: bolder;
    padding: 10px 0px;
    background-color: rgb(14, 167, 238);
    font-family: Kunstler Script;
    font-size: 35px;
}
.box p {
    font-size: 15px;
    text-align: justify;
    padding-top: 10px;
    text-indent: 40px;
    line-height: 20px;
}